<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Service Soft Template Creator</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <style type="text/css">
      .spacer{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container" style="width: 700px">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading" style="padding-top: 30px">
              <h3><strong>Bootstrap Email Template: </strong></h3>
            </div>
            <div class="panel-body">
			  <div class="col-sm-12">
                  <h4><strong>Body part 1 is for bold text area.</strong></h4>
              </div>
              <div class="col-sm-12">
                  This is an email template that resizes depending on screensize. So using bootstrap made it responsive and mobile ready. I am writing to request your approval to hire one business analyst immediately. This message
will review, first, the difficulties with our current staffing, and then the opportunities
that open up with the addition of another full-time analyst. 
              </div>
              <div class="col-sm-12 spacer">
                <div class="col-sm-4">
                     <img class="img-responsive" src="images/sample01.jpg">
                </div>
                <div class="col-sm-8">
                 Left area is for an image and right area is for normal text. </br>Departments across the organization value the Competitive Analysis unit as a resource
  on industry trends and opportunities, and as a result, demand for our analyses and research has increased. We have now amassed eight open research projects on industry
  trends, each with significant sub-topics. What’s more, our internal customers now rely on our quarterly Industry Watch newsletter, whose production is time-consuming.
                </div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-8">
                  Left area is for text and right area is for an image</br>Departments across the organization value the Competitive Analysis unit as a resource
  on industry trends and opportunities, and as a result, demand for our analyses and research has increased. We have now amassed eight open research projects on industry
  trends, each with significant sub-topics. What’s more, our internal customers now rely onour quarterly Industry Watch newsletter, whose production is time-consuming.
                </div>
                <div class="col-sm-4" style="text-align: right;">
                  <img class="img-responsive img-rounded" src="images/sample01.jpg">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="well-sm text-center"></div>
              </div>
			  <div class="col-sm-12">
                <div class="well text-center" style="margin-top:10px">
				  <img class="img-responsive" src="images/sample02.jpg">
				</div>
              </div>
              <div class="col-sm-12 text-center">
                <a href="#"><button class="btn btn-primary">Action Button</button></a>
              </div>
            </div>
            <div class="panel-footer" style="text-align: center;">
              <div class="col-sm-12">
                <div class="col-sm-6" style="text-align: left;">Service Soft</div>
                <div class="col-sm-6" style="text-align: right;">
                  <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
                  <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
                  <a href="#" class="fa fa-google-plus"></a>&nbsp;&nbsp;
                  <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp; 
                </div>
              </div>
              <i class="fa fa-phone" aria-hidden="true">&nbsp;&nbsp;613.227.8801</i><br>
              <i class="fa fa-home" aria-hidden="true">&nbsp;&nbsp;110 Laurier Ave W, Ottawa, ON K1P 1J1</i><br>
              <i class="fa fa-envelope-o" aria-hidden="true">&nbsp;&nbsp;<a href="#">chris@servicesoft.ca</a></i>
            </div>
          </div>
        </div>
      </div>      
    </div>  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>